<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Your Trip Together!</title>
    {{!-- Bulma css library --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    {{!-- css --}}

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    {{!-- google fonts below --}}

    {{!-- <link href="https://fonts.googleapis.com/css?family=Prompt|Quicksand&display=swap" rel="stylesheet"> --}}
    <link
        href="https://fonts.googleapis.com/css?family=Carter+One|Faster+One|Racing+Sans+One|Sigmar+One|Wendy+One&display=swap">


    <link
        href="https://fonts.googleapis.com/css?family=Chewy|Cinzel|Cormorant+Garamond|Gruppo|Muli|PT+Sans|Quicksand|Titillium+Web&display=swap"
        rel="stylesheet">




    {{!-- reference to jQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <script defersrc="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/"><img src="assets/images/luggage_logo.png" id="logo" class="suitcase" alt="suitcase" /></a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item">
                    My Trips
                </a>
                <a href="#" class="navbar-item">
                    Packing List
                </a>

                <a href="#" class="navbar-item">
                    Bucket List
                </a>

                <a href="#" class="navbar-item">
                    Departure Countdown
                </a>
                <a href="#" class="navbar-item">
                    Random Notes
                </a>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    <a href="/trips" class="button is-info is-outlined">

                        <strong>Destinations</strong>
                    </a>
                    <a href="/add-trips" class="button is-outlined">
                        Add Trip
                    </a>
                </div>
            </div>
        </div>
    </nav>
    {{{body}}}
</body>

</html>