<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>

    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Prompt|Quicksand&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="./images/luggage_logo.png" id="logo" class="suitcase" alt="suitcase" />

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="index.html" class="navbar-item"> </a>
                <a href="home.html" class="navbar-item"> </a>
                <a href="trips.html" class="navbar-item">
                    My Trips
                </a>
                <a href="packinglist.html" class="navbar-item">
                    Packing List
                </a>

                <a href="activities.html" class="navbar-item">
                    Activities
                </a>

                <a href="departure.html" class="navbar-item">
                    Departure Countdown
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/">
                        <button class="button is-info is-outlined">Back Home</button></a>
                    <a href="/add-trips"><button class="button is-info is-outlined">Add Trip</button></a>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Where in the world are you going?</h1>
            <h2 class="subtitle"></h2>

            <div class="card">
                <div class="card-content">
                    <h1 id="destination-title">
                        <strong>
                            Paris
                        </strong>
                    </h1>
                    {{!-- <figure>
                    <img
            src="./images/eiffel.jpg"
            id="logo"
            class="eiffel"
            alt="eiffel tower"
          /> 
                    </figure> --}}
                    <p class="title">
                        Vancouver, a bustling west coast seaport in British Columbia, is among Canada’s densest, most
                        ethnically diverse cities. A popular filming location, it’s surrounded by mountains, and also
                        has thriving art, theatre and music scenes. Vancouver Art Gallery is known for its works by
                        regional artists, while the Museum of Anthropology houses preeminent First Nations collections.
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            View on
                            <a href="https://twitter.com/codinghorror/status/506010907021828096">Contribute here!</a>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span> Share on <a href="#">Facebook</a> </span>
                    </p>
                </footer>
            </div>
            <br />
            <br />
            <div class="card">
                <div class="card-content">
                    <h1 id="destination-title">
                        <strong>
                            Tokyo
                        </strong>
                    </h1>
                    <p class="title">
                        Tokyo, Japan’s busy capital, mixes the ultramodern and the
                        traditional, from neon-lit skyscrapers to historic temples. The
                        opulent Meiji Shinto Shrine is known for its towering gate and
                        surrounding woods. The Imperial Palace sits amid large public
                        gardens. The city's many museums offer exhibits ranging from
                        classical art (in the Tokyo National Museum) to a reconstructed
                        kabuki theater (in the Edo-Tokyo Museum).
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            View on
                            <a href="https://twitter.com/codinghorror/status/506010907021828096">Yelp!</a>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span> Share on <a href="#">Facebook</a> </span>
                    </p>
                </footer>
            </div>
            <br />
            <div class="card">
                <div class="card-content">
                    <h1 id="destination-title">
                        <strong>
                            VANCOUVER
                        </strong>
                    </h1>
                    <p class="title">
                        Paris, France's capital, is a major European city and a global
                        center for art, fashion, gastronomy and culture. Its 19th-century
                        cityscape is crisscrossed by wide boulevards and the River Seine.
                        Beyond such landmarks as the Eiffel Tower and the 12th-century,
                        Gothic Notre-Dame cathedral, the city is known for its cafe
                        culture and designer boutiques along the Rue du Faubourg
                        Saint-Honoré.
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            View on
                            <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span> Share on <a href="#">Facebook</a> </span>
                    </p>
                </footer>
            </div>

        </div>
    </section>
</body>

</html>