<<<<<<< HEAD
<h1>Get Your Trip Together!</h1>
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Hello World!</h1>

    <h2>Let's Get Your Trip Together!</h2>

</body>

</html>
>>>>>>> 5178b97ce0487eeadc9119178f475d6fe4f7fc24
