* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/plane_40.png");
  /* font-family: "Racing Sans One"; */

  overflow-y: scroll;
}
/* font-family: "Prompt", Helvetica, Arial, sans-serif; */
/* font-family: "Sigmar One"; */
/* font-family: "Carter One"; */
/* font-family: "Faster One"; */
/* font-family: "Wendy One"; */

.sidebar {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 270px;
  float: right;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  /* clear: both; */
}

h1,
.sidebar,
h4 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  margin-right: 20px;
  line-height: 22px;
  text-align: center;
  color: #444444;
}

h2,
h3,
h5 {
  /* margin-left: 50px; */
  text-align: center;
}

#vision-mission {
  font-size: 20px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
}

/* #container {
      background-color: #ffffff;
      padding: 30px;
      margin: 0 40px 50px 350px;
      width: 100%;
      max-width: 960px;
      float: left;
      border: 1px solid #ddd;
      clear: both;
    } */

/* these styles taken from basic portfolio format*/

.container-home,
.container-about-you {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  padding-bottom: 150px;
  /* padding-bottom: 100px; */
}

.main-container {
  /* background-color: #eeeeee; */

  background-image: url("../images/plane_20.png");
  max-height: 500px;
  padding: 30px;
  border: 1px solid #eeeeee;
  overflow-y: scroll;
  height: 900px;
  width: 1000px;

}

.title {
  padding-top: 40px;
  /* color: #444444; */
  /* font-family: "Wendy One"; */
  font-family: "Faster One";
}

/* .spec-font { */
/* font-family: "Racing Sans One"; */

/* font-family: "Carter One"; */
/* font-family: "Wendy One"; */
/* } */

.social {
  width: 20px;
  height: 20px;
  /* margin-top: 6px; */
  margin-right: 9px;
  cursor: pointer;
}
.social:last-child {
  margin-right: 0;
}

#connect img:hover {
  transform: scale(1.25);
}

.portrait {
  width: 200;
  height: 200;
  /* padding: 5px; */
  /* margin: 2px 3px; */
  margin: 3px 2px 2px 2px;
  cursor: pointer;
}

/* below are the styles for rescue me gallery */

/* #container-rescue {
      max-height: 365px;
      max-height: 500px;
      overflow-y: scroll;
    } */

/* #main-container {
      /* max-height: 365px; */
/* max-height: 500px;
      overflow-y: scroll;
    } */

/* #main-container {

  max-height: 500px;
  max-width: 850px;

  overflow-y: scroll;
} */

  max-height: 365px;
} */


/* #carousel {
  max-height: 800px; */
/* overflow-y: scroll; */
/* width: 900px;
  margin: 0 50px 10px 30px;
} */

.navbar {
  width: 100%;
  background-color: #dddddd;
}

.navbar-item:hover {
  transform: scale(1.1);
}

.buttons {
  margin-right: 40px;
}

#logo {
  margin: 15px 20px 20px 40px;
  height: 40px;
  cursor: pointer;
}

/* 
#globe img:hover {
  transform: scale(1.25); */

#logo:hover {
  transform: scale(1.25);
}

#globe:hover {
  transform: scale(1.25);
}

#button:hover {
  transform: scale(1.25);
}

/* #welcome-home { */
/* margin: 20px 0; */
/* margin: 0 auto;
  margin-bottom: 40px;
} */

#home-image {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #fff;
  color: #666;
  padding: 10px 0 30px 0;
  clear: both;
  border-top: 5px solid palegoldenrod;
  font-size: 13px;
  text-align: center;
  height: 85px;
  /* position: absolute; */
  position: fixed;
  width: 100%;
  bottom: 0px;
}

#copyright {
  margin-top: 10px;
  font-size: 9px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.questionnaire {
  margin-left: 50px;
  line-height: 1.5;
  font-size: 15px;
  /* text-align: center; */
}

#submitform {
  margin-bottom: 25px;
  background-color: lightcyan;
  border: solid 1px lightgrey;
  cursor: pointer;
}


#button {
  margin-left: 143px;
  margin-top: 20px;
  width: 80px;
  height: 35px;
  padding: 10px;
  background-color: palegoldenrod;
  border: solid 2px lightgrey;
  cursor: pointer;
}

/* trips form */

#globe {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 30px;
}

#message {
  height: 150px;
  width: 580px;
  cursor: pointer;
  border: solid 1px lightgrey;
  margin-top: 5px;
}

#name {
  height: 30px;
  width: 580px;
  margin-top: 10px;
  /* margin-bottom: 30px; */
  cursor: pointer;
  border: solid 1px lightgrey;
}

#notes {
  padding-top: 40px;
}

#note-label {
  margin-right: 20px;
  margin-bottom: 40px;
}

#destination {

  margin-right: 46px;
  margin-bottom: 10px;
}

#button {
  margin-left: 143px;
  margin-top: 20px;
  width: 80px;
  height: 35px;
  padding: 10px;
  background-color: palegoldenrod;
  border: solid 2px lightgrey;
  cursor: pointer;
}

.subtitle {
  font: xxx-large;
  color: darkcyan;

}

/* final card content style */

.card-content {
  /* font-family: "Wendy One"; */
  /* font-family: "Racing Sans One"; */
  /* font-family: "Titillium Web"; */
  font-family: "Quicksand";
}
.card-footer-item {
  font-family: "Quicksand";
  font-size: small;
}

/* #title {
  font-family: "Faster One";
} */

/* sign-in form */

#check-in-button {
  background-color: lightcyan;
  border: solid 2px lightgrey;
  cursor: pointer;
  height: 30px;
  width: 80px;
  margin-left: 350px;
  margin-top: 20px;
}

#userPass {
  height: 25px;
  width: 100px;
  margin-top: 25px;
  margin-bottom: 30px;
  /* margin-bottom: 30px; */
  cursor: pointer;
  border: solid 1px lightgrey;
}

#email {
  height: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  border: solid 1px lightgrey;
}

.signup-image-link {
  color: orangered;
}
