* {
  box-sizing: border-box;
}

body {

  overflow-y: scroll;
  font-family: "Quicksand";
}

.sidebar {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 270px;
  float: right;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  /* clear: both; */
}

h1,
.sidebar,
h4 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  margin-right: 20px;
  line-height: 22px;
  text-align: center;
  color: #444444;
}

h2,
h3,
h5 {
  /* margin-left: 50px; */
  text-align: center;
}

.subtitle {
  font-size: 20px;
}

/* these styles taken from basic portfolio format*/

.container-home,
.container-about-you {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  padding-bottom: 150px;
}

.main-container {
  /* background-color: #eeeeee; */

  background-image: url("../images/plane_20.png");
  max-height: 500px;
  padding: 30px;
  border: 1px solid #eeeeee;
  overflow-y: scroll;
  height: 900px;
  width: 1000px;

}

.title {
  padding-top: 40px;
}

.headline {
  font-family: "Seymour One";
  font-size: 30px;
  /* font-size: 200%; */
  padding-top: 50px;
  /* margin-top: 50px; */
}

.social {
  width: 20px;
  height: 20px;
  /* margin-top: 6px; */
  margin-right: 9px;
  cursor: pointer;
}
.social:last-child {
  margin-right: 0;
}

#connect img:hover {
  transform: scale(1.25);
}


.navbar {
  width: 100%;
  background-color: #dddddd;
  /* font-family: "Quicksand"; */
  font-weight: 400;
}

.navbar-item:hover {
  transform: scale(1.1);
}

.navbar-item {
  font-weight: 500;
}

.buttons {
  margin-right: 40px;
}

#logo {
  margin: 15px 20px 20px 40px;
  height: 40px;
  cursor: pointer;
}

#logo:hover {
  transform: scale(1.25);
}

#globe:hover {
  transform: scale(1.25);
}

#button:hover {
  transform: scale(1.25);
}

#home-image {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #fff;
  color: #666;
  padding: 10px 0 30px 0;
  clear: both;
  border-top: 5px solid palegoldenrod;
  font-size: 13px;
  text-align: center;
  height: 85px;
  /* position: absolute; */
  position: fixed;
  width: 100%;
  bottom: 0px;
}

#copyright {
  margin-top: 10px;
  font-size: 9px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* trips form */

#globe {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 30px;
}

#message {
  height: 120px;
  width: 580px;
  cursor: pointer;
  border: solid 1px lightgrey;
  margin-top: 5px;
}

#name {
  height: 30px;
  width: 580px;
  margin-top: 10px;
  /* margin-bottom: 30px; */
  cursor: pointer;
  border: solid 1px lightgrey;
}

#notes {
  padding-top: 40px;
}

#note-label {
  margin-right: 20px;
  margin-bottom: 40px;
}

#destination {

  margin-right: 46px;
  margin-bottom: 10px;
}

#button {
  margin-left: 135px;
  margin-top: 10px;
  width: 80px;
  height: 30px;
  padding: 7px;
  background-color: lightgoldenrodyellow;
  border: solid 2px lightgrey;
  cursor: pointer;
}

.subtitle {
  font: 10px;
  color: darkcyan;

  font-family: "Seymour One";

}

/* final card content style */

.card-content {
  font-family: "Quicksand";
}

.card-footer-item {
  font-family: "Quicksand";
  font-size: small;
}

/* sign-in form */

#check-in-button {
  background-color: lightcyan;
  border: solid 2px lightgrey;
  cursor: pointer;
  height: 30px;
  width: 80px;
  margin-left: 350px;
  margin-top: 20px;
}

#userPass {
  height: 25px;
  width: 100px;
  margin-top: 25px;
  margin-bottom: 30px;
  /* margin-bottom: 30px; */
  cursor: pointer;
  border: solid 1px lightgrey;
}

#email {
  height: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  border: solid 1px lightgrey;
}

.signup-image-link {
  color: tomato;
}
